.allStopBtn:hover {
    .allStopBtn1 {
      background-color: rgb(220 38 38);
    }
    p {
      color: white;
    }
  }
  
  .carControlBtn:hover {
    .carControlBtn1 {
      background-color: rgb(124 58 237);
    }
    .carControlBtn2 {
      background-color: rgb(124 58 237);
    }
    .carControlBtn3 {
      background-color: rgb(124 58 237);
    }
    .carControlBtn4 {
      background-color: rgb(124 58 237);
    }
    p {
      color: white;
    }
  }
  
  .carStopBtn:hover {
    .carStopBtn1 {
      background-color: rgb(219 39 119);
    }
    p {
      color: white;
    }
  }
  